@media (max-width: 768px){
    .cabecalho .logo{
        max-width: 190px;
    }
 
    .selecao-de-produtos{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .selecao-de-produtos .produtos{
        margin-top: 37px;
    }

    .selecao-de-produtos .produtos .titulo{
        font-size: 15px;
    }
    .selecao-de-produtos .lista-de-produtos {        
        gap: 9px;      
    }
    .selecao-de-produtos .produtos img{
        width: 80px;
    }

    .produto-selecionado .produto-grande{
        width: 350px;
        height: 350px;
    }
    .produto-selecionado .descricao-produto{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}
